<% unless user_signed_in? %>
  <div class="jumbotron">
    <h1 class="welcome-message"> Welcome To Artify </h1>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <p>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
          <%= image_tag card.image_url.to_s %>
          <h4><%= card.description %></h4>
          <span><%= link_to 'Show', card %></span>
          <span><%= link_to 'Edit', edit_card_path(card) %></span>
          <span><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div> <!-- End of card -->
      </div> <!-- End of col-xs-12 col-sm-3 -->
    <% end %>

  </div> <!-- End of row -->
</div> <!-- End of container -->
