<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @card.image_url.to_s %>
  <strong>Description:</strong>
  <%= @card.description %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
